@model Seances

@{
    ViewData["Title"] = "Usuń seans";
}

<h1>Usuń seans</h1>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="StartTime"></label>
        <input asp-for="StartTime" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="MovieId"></label>
        <input asp-for="MovieId" class="form-control" disabled />
    </div>

    <button type="submit" class="btn btn-danger">Usuń</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>