@model Movie

@{
    ViewData["Title"] = "Usuń film";
}

<h1>Usuń film</h1>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Title">Tytuł</label>
        <input asp-for="Title" class="form-control" disabled />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Usuń</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>