@model List<Movie>
@{
    ViewData["Title"] = "Filmy";
}

<h1>Lista filmów</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Dodaj nowy</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td>@movie.Title</td>
                <td>@movie.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id=@movie.Id class="btn btn-danger btn-sm m-1">Edytuj</a>
                    <a asp-action="Delete" asp-route-id=@movie.Id class="btn btn-danger btn-sm m-1">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>