@model Reservations

@{
    ViewData["Title"] = "Zarezerwuj bilet";
}

<h1>Zarezerwuj miejsce</h1>

<form asp-action="Create" method="post">
    <input type="hidden" name="seanceId" value="@ViewBag.SeanceId" />
    <div class="form-group">
        <label for="UserName">Imię i nazwisko</label>
        <input type="text" class="form-control" id="UserName" name="userName" />
    </div>
    <div class="form-group">
        <label for="UserEmail">Adres e-mail</label>
        <input type="email" class="form-control" id="UserEmail" name="userEmail" />
    </div>
    <div class="form-group">
        <label for="SeatNumber">Numer siedzenia</label>
        <input type="number" class="form-control" id="SeatNumber" name="seatNumber" />
    </div>
    <div class="form-group">
        <label asp-for="Discount">Zniżka</label>
        <select asp-for="Discount" id="Discount" name="discount" class="form-control">
            <option value="50">Student</option>
            <option value="75">Dziecko</option>
            <option value="0">Dorosły</option>
        </select>
        <span asp-validation-for="Discount" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Zarezerwuj</button>
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Anuluj</a>
</form>