@model Reservations

@{
    ViewData["Title"] = "Usuń rezerwację";
}

<h1>Usuń rezerwację</h1>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="UserId">ID Użytkownika</label>
        <input asp-for="UserId" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="SeanceId">ID Seansu</label>
        <input asp-for="SeanceId" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="SeatNumber">Numer siedzenia</label>
        <input asp-for="SeatNumber" class="form-control" disabled />
    </div>

    <button type="submit" class="btn btn-danger">Usuń</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>